.login .forget {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login .forget .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.login .forget .title .text p:nth-child(1) {
    font-family: DINBold;
    font-size: 30px;
    color: #553726;
}
.login .forget .title .text p:nth-child(2) {
    font-size: 18px;
    color: #553726;
}
.login .forget .title .progress {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    font-family: DINBold;
    font-size: 18px;
    color: #B99E67;
    background: #b99e672a;
}
.login .forget form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login .forget form .email,
.login .forget form .pass {
    padding: 15px;
    border: solid 2px #B99E67;
    border-radius: 15px;
}
.login .forget form .email p,
.login .forget form .pass p {
    font-size: 12px;
    color: #024F81;
}
.login .forget form .email input,
.login .forget form .pass input {
    width: 100%;
    border: none;
    font-size: 18px;
}
.login .forget form input[type="submit"] {
    background: linear-gradient(To Right, #13A2FF, #0063A4);
    padding: 20px;
    border-radius: 40px;
    border: none;
    font-family: DINMedium;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 20px 20px 0 #ccc;
}
.login .forget form #confirmPass {
    padding: 25px;
    font-size: 18px;
    background: rgba(85, 55, 38, .07);
    border-radius: 15px;
    border: none;
}