.logbook table tr:nth-child(1) td,
.logbook table tr:nth-child(2) td,
.logbook table tr:nth-child(3) td {
    background: #F5F5F5;
}
.logbook table tr:nth-child(1) td:last-child,
.logbook table tr:nth-child(2) td:last-child,
.logbook table tr:nth-child(3) td:last-child {
    display: block;
}
.logbook table tr:nth-child(1) td:nth-child(1),
.logbook table tr:nth-child(1) td:nth-child(2),
.logbook table tr:nth-child(2) td:nth-child(1),
.logbook table tr:nth-child(2) td:nth-child(2),
.logbook table tr:nth-child(3) td:nth-child(1),
.logbook table tr:nth-child(3) td:nth-child(2) {
    background: #fff;
}
.logbook table tr th {
    background: #275FBC;
}
.logbook .action {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 20px 0;
}
.logbook .action button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: #E5EDFF;
    font-size: 18px;
    color: #0082CB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.logbook table input[type="checkbox"] {
    border: solid 1px #000;
    padding: 20px;
}
.container-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    color: #175EAD;
}
.container-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: none;
    border: solid 2px #000;
}
.container-checkbox:hover input ~ .checkmark {
    background-color: none;
}
.container-checkbox input:checked ~ .checkmark {
    background-color: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.logbook .max-mark input {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    color: #175EAD;
}
.logbook .table-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.logbook .table-add input {
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
}
.logbook .save-log {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.logbook .save-log button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #E5EDFF;
    color: #0082CB;
    font-size: 18px;
    cursor: pointer;
    font-family: DINMedium;
}
.barcode {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: solid 1px #ccc;
    z-index: 100;
    background: #fff;
    padding: 50px;
}
.barcode .codes {
    height: 400px;
    width: 400px;
    overflow: auto;
}
.barcode .codes .code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.barcode .codes .code img {
    height: 150px;
}
.barcode .action {
    padding: 20px 50px;
    display: flex;
    gap: 30px;
    padding-bottom: 0;
}
.barcode .action button {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background: #16792f;
    color: #fff;
    cursor: pointer;
}
.barcode .action p {
    font-size: 1.2rem;
}
#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
@media (max-width: 768px) {
    .logbook .action {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .logbook .action button {
        font-size: .9rem;
    }
    .logbook .save-log button {
        margin: 20px 0;
    }
}